/*
#00a870
#006644
#007950
#00df9c
#006e4a
#00ffab
*/



@import url("https://fonts.googleapis.com/css2?family=Donegal+One&family=Kanit:wght@200;400;700&display=swap");

body {
  font-family: "Kanit", sans-serif;
  background-color: #c9d8e6;
  display: grid;
  grid-template-columns: 2fr 9fr;
  grid-template-rows: 1fr 9fr;
}

* {
  box-sizing: border-box;
}

body,
html {
  height: 100vh;
  margin: 0;
  overflow-y: hidden;
}

.sidebar {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #002647;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sb-items {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.sb-title {
  width: 100%;
  text-align: center;
  font-size: 20pt;
  color: white;
  padding: 25px;
  font-weight: bold;
}

.sb-i {
  padding: 20px;
  font-size: 16pt;
  cursor: pointer;
  color: white;
  overflow: hidden;
  position: relative;
}

.sb-i:hover {
  background-color: #003961;
}

.sb-i::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: -100%;
  top: 0;
  background-color: #0069c5;
  transition: 0.5s ease-out;
}

.sb-i:hover::before {
  left: 0;
}

.sb-i span {
  display: block;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.sb-i span::before {
  content: attr(data-title);
  z-index: 2;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  color: white;
  position: absolute;
  transition: 0.5s ease-out;
}

.sb-i:hover span::before {
  width: 100%;
}

.sb-i.active::before {
  left: 0 !important;
}

.sb-i.active span::before {
  width: 100% !important;
}

main {
  grid-area: 1 / 2 / 3 / 3;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  scroll-behavior: smooth;
}

.main-motoristas {
  display: flex;
  flex-direction: column;
}

.main {
  padding: 25px;
  min-height: 100vh;
}

.logout {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  user-select: none;
  color: white;
}

.logout span {
  padding: 5px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.logout span::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  left: -100%;
  top: -1px;
  border-bottom: 2px solid white;
  transition: 0.5s ease-out;
}

.logout span:hover::after {
  left: 0;
}

.page-motoristas {
  width: 100%;
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  gap: 25px;
  overflow-y: auto;
  min-height: min-content;
  padding-right: 5px;
}

*::-webkit-scrollbar {
  background-color: #002647;
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background-color: #006c94;
}

.card-motorista {
  background-color: white;
  height: max-content;
  display: flex;
  padding: 25px;
  padding-top: 50px;
  position: relative;
  width: calc(33% - 12.5px);
  min-width: 350px;
}

.card-motorista-top {
  position: absolute;
  width: 100%;
  height: 40px;
  background-color: #002647;
  top: 0;
  left: 0;
  display: flex;
  justify-content: end;
  align-items: center;
  padding: 0 15px;
  color: white;
}

.card-motorista-top > i {
  cursor: pointer;
}

.motorista-icon {
  font-size: 6rem;
  border: 4px solid #002647;
  padding: 0 15px;
  margin-right: 25px;
  color: #002647;
  height: max-content;
}

.motorista-info {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 1;
  overflow: hidden;
}

.modelo {
  display: none !important;
}

.motorista-info > span > span {
  color: #555;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
  font-weight: 700;
}

.escondido {
  display: none !important;
}

.modal-wrap {
  background-color: white;
  height: max-content;
  display: flex;
  padding: 25px;
  padding-top: 50px;
  position: relative;
}

.wiggle {
  /* animation-name: wiggle;
    animation-duration: .5s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
    animation-direction: normal;
    animation-fill-mode: forwards; */
  /* animation: wiggle .5s infinite; */
  animation-name: wiggle;
  animation-duration: 0.2s;
  animation-iteration-count: 1;
}

@keyframes wiggle {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-2deg);
  }
  75% {
    transform: rotate(2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.motorista-info input {
  padding: 5px;
  border: none;
  border-bottom: 1px solid black;
}

input:focus {
  outline: none;
}

.card-motorista-bottom {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-top: 10px;
}

.card-motorista-bottom button {
  font-size: 1.2rem;
  padding: 10px 15px;
  cursor: pointer;
}

.btnCancelar {
  border: 1px solid #002647;
  color: #002647;
  background-color: #fff;
}

.btnCancelar:hover {
  background-color: #ddd;
}

.btnConfirmar {
  color: #fff;
  background-color: #002647;
  border: none;
}

.btnConfirmar:hover {
  background-color: #002647;
}

.btnExcluir {
  border: none;
  color: #fff;
  background-color: rgb(165, 0, 0);
}

.btnExcluir:hover {
  background-color: rgb(138, 0, 0);
}

.page-top {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 20px;
}

.right {
  display: flex;
  gap: 10px;
}

#nomeWrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}

.btnCadastrar {
  font-size: 1.5rem;
  padding: 10px 30px;
  background-color: #002647;
  border: none;
  color: white;
  cursor: pointer;
}

.btnCadastrar:hover {
  background-color: #002647;
}

.filter > span {
  padding: 10px 30px;
  background-color: #002647;
  border: none;
  color: white;
  cursor: pointer;
  font-size: 1.1rem;
}

.filter {
  display: flex;
  align-items: center;
  position: relative;
}

.filter-db {
  display: flex;
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  z-index: 5;
  padding: 20px;
  background-color: white;
  flex-direction: column;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  gap: 15px;
}

/* Customize the label (the container) */
.container-db {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container-db input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container-db:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container-db input:checked ~ .checkmark {
  background-color: #0062a6;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container-db input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container-db .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.modal .motorista-info > span {
  display: flex;
  gap: 5px;
  align-items: center;
}

.modal input {
  flex: 1;
}

@media (max-width: 964px) {
  .page-motoristas {
    flex-direction: column;
    flex-wrap: nowrap;
  }

  .page-motoristas > .card-motorista {
    width: 100%;
  }
}

.showVeic{
    display: flex;
    align-items: center;
    gap: 10px;
}

.showVeic > span{
    color: #002647;
    font-size: 1.1rem;
}

.wrap-radio{
    display: flex;
    align-items: center;
    width: 250px;
    font-size: 1.1rem;
}

.radio-opt-1{
    padding: 10px;
    width: 50%;
    border: 2px solid #002647;
    text-align: center;
    color: #002647;
    cursor: pointer;
}

.radio-opt-2{
    padding: 10px;
    width: 50%;
    border: 2px solid #002647;
    text-align: center;
    color: #002647;
    cursor: pointer;
}

.radio-opt-active{
    background-color: #002647;
    color: white!important;
    cursor: pointer;
}

.veiculos-geral{
  background-color: white;
  position: relative;
  padding: 15px;
  display: flex;
  overflow: auto;
  flex: 1;
}

.vg-table-container{
  width: 100%;
}

#veicGeral{
  width: 100%;
  overflow-y: hidden;
  position: relative;
}

#veicGeral .table-body div span{
  border-right: 2px solid #002647;
  padding: 15px;
}

#veicGeral .table-body div span:last-child{
  border-right: none;
}

#veicGeral .table-body div{
  border-top: 2px solid #002647;
  cursor: pointer;
}

.vgBg{
  position: absolute;
  z-index: 0;
  opacity: 0.05;
  right: 0;
  bottom: -60px;
  width: 300px;
  pointer-events: none;
}

.table-head{
  width: 100%;
  background-color: #002647;
  color: white;
  display: flex;
}

.table-head > span{
  display: inline-block;
  text-align: center;
  margin: 0;
  width: 100%;
}

.table-head > span:nth-child(1){
  width: 10%;
}

.table-head > span:nth-child(2){
  width: 25%;
}

.table-head > span:nth-child(3){
  width: 15%;
}

.table-head > span:nth-child(4){
  width: 10%;
}

.table-head > span:nth-child(5){
  width: 10%;
}

.table-head > span:nth-child(6){
  width: 15%;
}

.table-head > span:nth-child(7){
  width: 15%;
}

.table-body > div{
  display: flex;
  width: 100%;
}

.table-body span{
  display: block;
  width: 100%;
}

.table-body div > span:nth-child(1){
  width: 10%;
}

.table-body div > span:nth-child(2){
  width: 25%;
}

.table-body div > span:nth-child(3){
  width: 15%;
}

.table-body div > span:nth-child(4){
  width: 10%;
}

.table-body div > span:nth-child(5){
  width: 10%;
}

.table-body div > span:nth-child(6){
  width: 15%;
}

.table-body div > span:nth-child(7){
  width: 15%;
}

#vgModelo{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.table-head span{
  border-right: 2px solid #fff;
  padding: 15px;
}

.table-head span:last-child{
  border-right: none;
}

.veic-info:hover{
  background-color: #c1cddd;
}

.veic-info{
  position: relative;
  display: flex;
  width: 100%;
  border: none!important;
}

.row-options{
  display: flex;
  background-color: #002647;
  gap: 10px;
  height: 0;
  align-items: center;
  cursor: default!important;
  transition: .5s;
  overflow: hidden;
  border: none!important;
}

.row-options-expand{
  height: 50px!important;
}

.btnEditarVeicGeral{
  background-color: #0062a6;
  border: 2px solid #fff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  margin-left: 10px;
}

.btnExcluirVeicGeral{
  background-color: #b40000;
  border: 2px solid #fff;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.modeloVeicGeral{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.table-body{
  overflow-y: auto;
}

#inpTipo{
  flex: 1;
  padding: 5px;
}

table {
  border-collapse: collapse;
  margin: 0 auto;
  font-size: 1em;
  min-width: 400px;
}

table thead th {
  background-color: #002647;
  color: #FFFFFF;
  text-align: left;
  font-weight: bold;
}

table th,
table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #002647;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 50px;
  gap: 50px;
}

.card {
  background-color: #FFFFFF;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  flex-basis: calc(40% - 20px);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 25px;
  width: min-content;
}

.card h2 {
  font-size: 1.5em;
  color: black;
  margin: 0;
}

.card p {
  font-size: 1.2em;
  color: #555555;
}

.card .available {
  color: #009B72;
}

.card .unavailable {
  color: #FF165D;
}

canvas {
			display: block;
			margin: 0 auto;
		}
.chart-container {
  position: relative;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}
.chart-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}

.chart-center span:nth-child(2){
  font-size: 2.5rem;
}

.showDash > .wrap-radio{
  width: min-content!important;
}

.radio-opt-dash-1{
  padding: 10px;
  width: 50%;
  border: 2px solid #002647;
  border-left: 2px solid #002647!important;
  text-align: center;
  color: #002647;
  cursor: pointer;
}

.radio-opt-dash{
  padding: 10px;
  width: 50%;
  border: 2px solid #002647;
  border-left: none;
  text-align: center;
  color: #002647;
  cursor: pointer;
}

.showtvm{
  opacity: 1!important;
  transform: translate(-50%, 0px)!important;
  pointer-events: all!important;
}

.dispTables{
  position: relative;
  overflow: hidden;
  height: 250px;
}

.dispTableContainer {
  overflow: auto;
  opacity: 0;
  transition: .2s ease-out;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 50px);
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  height: 100%;
}

.dashboard-disp{
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-dashboard{
  display: flex;
  flex-direction: column;
}

.dashboard-man{
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow-y: hidden;
}

.graf-escondido{
  visibility: hidden;
  pointer-events: none;
  position: absolute;
}

.graficos-man{
  overflow-y: auto;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.graficos-man .card{
  flex-basis: auto;
}

canvas{
  position: relative;
  z-index: 5;
}

.card-leg{
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 350px;
  flex-wrap: wrap;
  justify-content: space-between;
  height: 60px;
  align-content: flex-start;
}

.leg{
  display: flex;
  align-items: center;
  gap: 5px;
}

.leg-square{
  width: 25px;
  height: 25px;
}

.leg-livre > .leg-square{
  background-color: #00ffab;
}

.leg-ocupado > .leg-square{
  background-color: #c00;
}

.leg-manutencao > .leg-square{
  background-color: rgb(255, 150, 0);
}

.leg-operacao > .leg-square{
  background-color: #003961;
}

.leg-outros > .leg-square{
  background-color: #ccc;
}

.leg-carga > .leg-square{
  background-color: rgba(255, 99, 132);
}

.leg-vendas > .leg-square{
  background-color: rgba(255, 206, 86);
}

.leg-visita > .leg-square{
  background-color: rgba(54, 162, 235);
}